<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Episode</th>
      <th scope="col">Season</th>
      <th scope="col">Rating</th>
      <th scope="col">Notes</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of Entries; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ entry.name }}</td>
      <td>{{ entry.current }} / {{ entry.total }}</td>
      <td>{{ entry.season }}</td>
      <td>{{ entry.rating || "X" }} / 5</td>
      <td>{{ entry.notes }}</td>
      <td>
        <span (click)="removeEntry(entry)" class="text-danger">Delete</span>
        &nbsp;
        <span routerLink="/update-entry/{{ entry.id }}" class="text-primary"
          >Edit</span
        >
      </td>
    </tr>
  </tbody>
</table>
